.nav-link{
    color:black !important;
    display: inline-block;
  }
.nav-link:after{
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown:hover .dropdown-menu{
  display:block;
}